body {
    
}

a.my-class {
    color: Yellow
}

    a.my-class:active {
        color: Yellow
    }

    a.my-class:link {
        color: Yellow
    }

    a.my-class:visited {
        color: Yellow
    }