@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Расписание занятий</h1>
    <h4>Факультет электронно-информационных систем</h4>
</div>


<div class="row">
    <div class="col-sm-4">

        <div class="card" style="width: 40rem;">
            <img src="https://sun9-68.userapi.com/impg/EAAh8Xw3bRSV5sQDulOea84l1D9bZJldfwSr0g/Xr4-KSxY-_U.jpg?size=635x559&quality=96&sign=f5998d55771776ffbd7f68bca98962f2&type=album" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Группа МС-5</h4>
                <p class="card-text">Программируемые мобильные системы</p>
                <br><br><button type="button" class="btn btn-light">@Html.ActionLink("МС-5", "Index", "GroupMS")</button>
            </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="card" style="width: 40rem;">
            <img src="https://sun9-40.userapi.com/impg/2gNAxgCRBx5iJBGj-8wMhSOfhMqEwD6lrARpEg/DSIqhI781Xw.jpg?size=655x576&quality=96&sign=eaf16204b1158e34791f52ef28aaeaab&type=album" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Группа ПЭ-20</h4>
                <p class="card-text">Промышленная электроника</p>
                <br><br><button type="button" class="btn btn-light">@Html.ActionLink("ПЭ-20", "Index", "GroupMS")</button>
            </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="card" style="width: 40rem;">
            <img src="https://sun9-3.userapi.com/impg/7PXLkI1iUqvJY2vUUp1D8zFfdEr2jRaZLCVSog/3lblC-yGWq4.jpg?size=626x551&quality=96&sign=adaf6d87d510e37e4eb5f5b310469acf&type=album" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Группа Э-58</h4>
                <p class="card-text">Вычислительные системы и сети</p>
                <br><br><button type="button" class="btn btn-light">@Html.ActionLink("Э-58", "Index", "GroupMS")</button>
            </div>

        </div>
    </div>
</div>